.font-classA {
  color: white;
  font-size: 4 rem;
  text-align: center;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
.container {
  max-width: 90%;
  margin: 0 auto;
  height: 100%;
}
header {
  display: flex;
  flex-direction: row-reverse;
  align-items: end;
  justify-content: space-between;
}
header .lambda-icon {
  width: 20px;
  height: 20px;
}
header nav {
  margin: 20px 0 10px 100px;
  display: flex;
  width: 38%;
  height: auto;
  justify-content: space-between;
  text-emphasis: bold;
}
header nav a {
  text-decoration: none;
  color: black;
  background: white;
  font-size: 2rem;
}
.main-content {
  width: 100%;
  height: 60%;
  background: #F5F5F5;
}
.main-content .nameBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px 30px 30px 30px;
  font-size: 3 rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main-content .nameBox button {
  width: 38.2%;
  margin-top: 30px;
}
.main-content .headshot {
  position: relative;
  width: 700px;
  height: 900px;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 12%;
}
.main-content .headshot img {
  width: 100%;
  height: auto;
}
.middle {
  display: flex;
}
.middle .statement {
  width: 50%;
  margin: 20px 0 0 20px;
}
.middle .stuff {
  width: 50%;
  margin: 20px 0 0 20px;
}
.middle .stuff li {
  border: 0.5px solid grey;
  padding: 8px;
}
.bottomSection {
  margin: 15px 0 0 16px;
}
.bottomSection table {
  width: 100%;
}
.bottomSection table tr {
  text-align: left;
  height: 20px;
  font-weight: bold;
  color: black;
  background-color: lightgray;
}
.bottomSection table tr:nth-child(even) {
  background-color: white;
}
.bottomSection table tr:nth-child(even) td .even {
  background-color: grey;
}
.bottomSection table tr:nth-child(even) th {
  text-align: left;
}
footer {
  padding: 30px;
  background-color: grey;
  text-align: center;
  margin: 20px 0 0 17px;
}
footer .copyright {
  color: white;
  font-size: 4 rem;
  text-align: center;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
